#container {
  /* border: 1px solid red; */
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

#calendar{
  max-width: 1350px;
  margin: auto;
}

.fc-toolbar-title{
  display: inline-block;
}

.fc-event-main-frame{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 20px;
}

.fc-event-title-container {
  /* display: none; */
  flex-grow: 0 !important;
}